body{
    background-color: rgb(218, 231, 231);;
    text-align: center;
    width:max-content;
    height:max-content;
    padding:2px;
    cursor:pointer
}


#first{
    color:purple;
    padding:2px;
   text-align: center;
}
#btnflex{
    display:flex;
    gap:2%;
    margin:auto;
    justify-content: center;
}
button{
    border:none;
    border-radius:5px;
    padding:2%;
    color:rgb(100, 13, 180);
    box-shadow: rgb(68, 70, 70) 0px 20px 30px -10px;
}
#main{
    /* background-color: rgb(150, 144, 95);; */
    text-align: center;
    min-width:max-content;
    min-height:max-content;
    padding:5px;
    margin:auto;
}
#spinner{
     width:10px;
     height:10px;
     border:4px solid #f3f3f3;
     border-top:4px solid blue;
     border-radius:50%;
     /* background-color: blueviolet; */
     -webkit-animation: spin 2s linear infinite;
     animation: spin 2s linear infinite;
}
#qn{
    color:rgb(201, 48, 10);
    border-bottom:1px solid lightsalmon;
    box-shadow: rgb(211, 141, 35) 0px 20px 30px -10px;
}
#ans{
    color:rgb(82, 37, 124);
    max-width:500px;
    /* font-size: 16px; */
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }